<app-sidenav></app-sidenav>
<h3 class="text-center">Ejercicio de Instagram</h3>
<div class="first-content">
    <div class="phones">
        <img src="../../../assets/phnes.png" alt="photo app">
    </div>
    <section class="second-content">
        <section class="second-content--sect1">
            <div class="instagram-logo">
                <img src="../../../assets/instagram-logo-1.png" alt="logo app">
            </div>
            <div class="data">
                <form class="data-form">
                    <input type="text" placeholder="Phone number, username, or email">
                    <input type="text" placeholder="Password">
                    <button class="log-in">Log In</button>
                </form>
            </div>
            <div class="line-or">
                <p class="or-in-the-middle">---------------------- or ----------------------</p>
            </div>
            <div class="conect-networks">
                <img src="../../../assets/Logo-facebook.png" alt=""><span class="log">   Log in with Facebook</span>
                <p>Forgot password?</p>
            </div>
        </section>
        <section class="second-content--sect2">
            <pre>don't have an account? <strong>sign up</strong></pre>
        </section>
        <pre class="alone-text">Get the app.</pre>
        <div class="download-apps">
            <img src="../../../assets/appstore.png" alt="appstore" class="appstore">
            <img src="../../../assets/google-play.png" alt="google play" class="google-play">
        </div>
    </section>
</div>
<div class="observations">
    <p>About Blog Jobs Help API Privacy Terms Top Accounts Hashtags Locations Instagram Lite</p>
    <p>Beauty Dance Fitness Food & Drink Home & Garden Music Visual Arts</p>
    <div organize="special">
        <select class="special-form">
            <option value="M">English</option>
            <option value="F">Español</option>
            <option value="O">Deutsch
            <option>
        </select> <span>© 2021 Instagram from Facebook</span>
    </div>
</div>